# Ignore old files
.old/

# Large rasters
*.tif
*.tifi
*.tiff
*.vrt
*.ovr
*.aux.xml

# ISTAT boundaries
code_folder/limiti_istat/

# Raw downloaded archives
code_folder/data/raw/

# Generated plots
code_folder/plots/
